@import '../../../globals/scss/helper/mixins/exports';
@import '00_mixins';

@include exports('button-icon') {
  .#{$gtc-namespace} {
    // -------------------------------------------------------------------------
    // Icon Button
    // -------------------------------------------------------------------------

    &btn-icon {
      @include button-base;
      @include responsive-icon(1, 1);
      width: em(28);

      &--facebook {
        @include hover-focus-active {
          fill: $color-brand--facebook;
        }
      }

      &--twitter {
        @include hover-focus-active {
          fill: $color-brand--twitter;
        }
      }

      &--youtube {
        @include hover-focus-active {
          fill: $color-brand--youtube;
        }
      }
    }
  }
}
